<!--p id="notice"><%= notice %></p-->

<h2>Mockups</h2>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th> + </th>
      <th>Image</th>
      <th> = </th>
      <th>Mockup</th>
      <th>Shopify Product</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% progress = false %>
    <% @mockups.each_with_index do |mockup,i| %>
      <% job_id = mockup.job_id %>
      <% mockup_id = mockup.id %>
      <% if !mockup.thumb_url && job_id && job_id > 0 %>
        <% progress = true %>
      <% end %>
      <tr>
        <td class=mockup><%= image_tag(mockup.product_url, alt: 'Product', width: '64') %></td>
        <td class=mockup> + </td>
        <td class=mockup><%= image_tag(mockup.image_url, alt: 'Image', width: '64') %></td>
        <% if mockup.thumb_url %>
          <td class=mockup> = </td>
          <td class=mockup><%= link_to(image_tag(mockup.thumb_url, alt: 'Mockup', width: '64'), mockup.mockup_url, target: '_blank') %></td>
          <td class=mockup>
            <% if mockup.shopify_id > 0 %>
              <%= link_to 'Show', "https://la-camiseta-loca.myshopify.com/admin/products/" + mockup.shopify_id.to_s %>
            <% else %>
              <%= link_to "Create", {:controller => "mockups", :action => "new", :id => mockup.id.to_s} %>
            <% end %>
          </td>
        <% else %>
          <td class=mockup colspan=3>
          <% if job_id && job_id > 0 %>
            <div id="progress"><div id="pbaranim"></div></div>
          <% end %>
          </td>
        <% end %> 
        <td class=mockup><%= link_to 'Destroy', mockup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% if progress %>
      <script type="text/javascript">
        var interval;
        interval = setInterval(function(){
          $.ajax({
            url: '/mockups/status/0',
            success: function(){
            },
            error: function(){
              clearInterval(interval);
              location.reload(false);
            }
          })
        },5000);
      </script>
    <% end %>
  </tbody>
</table>

