<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<link href="//cdn.shopify.com/s/files/1/2340/3057/t/1/assets/theme.scss.css?10548409062771369169" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">html {  padding-top:100px; padding-left:100px; } body { position:relative;} </style>

<%= render 'layouts/navigation.html' %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <!--% end %>
  < % product=@products.last %-->
  <% imgs=product.images %>
  <% opts=product.options %>
  <table>
    <tr><td>id</td><td><%= product.id %></td></tr>
    <tr><td>title</td><td><%= product.title %></td></tr>
    <tr><td>body_html</td><td><%= raw(product.body_html) %></td></tr>

    <% opts.each do |opt| %>
    <tr><td><%= opt.name %></td><td><table><tr>
    <% opt.values.each do |val| %>
      <td><%= val %></td>
    <% end %>
    </tr></table></td></tr>
    <% end %>

    <tr><td>images</td><td>
    <table><tr>
      <% imgs.each_with_index {|img,i| %>
        <% if i % 8 == 0 %>
          <% if i > 0 %>
            </tr>
          <% end %>
          <tr align=center>
        <% end %>
        <td><%= image_tag("#{img.src}", {:width => "128"}) %></td>
      <% } %>
    </tr>
  </table>
  </td></tr></table>
  <% end %>
</ul>

<hr>

<h2>Returning Clients</h2>
  <% @tagged_emails.each do |email| %>                                                                                         
    <li><%= link_to email, "mailto:" + email %></li>
  <% end %>
</ul>

<hr>

<% if @webhooks.present? %>
  <h2>Webhooks</h2>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% end %>
