<%= form_for image do |f| %>
  <div>
    <!--%= f.label :name %-->
    <%= f.hidden_field :name %>
  </div>
 
  <div>
    <!--%= f.label :image %-->
    <%= f.file_field :image %>
  </div>

  <input value="<%= params[:id] %>" type="hidden" name="product_id" id="product_id" /> 
  <%= f.submit "Upload Image" %>
<% end %>
