<center>
<h3>Product</h3>
<% if @product %>
  <% type  = @product['type'] %>
  <% brand = @product['brand'] %>
  <% model = @product['model'] %>
  <% image = @product['image'] %>
  <% files = @product['files'] %>
  <% descr = @product['description'] %>
  <table class="product-mockup">
  <tr class="product-mockup">
    <td width=200 class="product-mockup">
      <%= brand %>
      <%= model %>
      <br><br><br><br>
      <i><%= descr %></i>
    </td>
    <td class="product-mockup">
        <%= image_tag("#{image}") %>
    </td>
    <td class="product-mockup-sep">
        +
    </td>
    <td  class="product-mockup">
        <%if @design %>
          <!--%= image_tag("https://duw6wk4ou1qt.cloudfront.net/files/v529/generator/91/Capri_Leggings_mockup_generator.png", width: "300", class: "over") %--> 
          <%= image_tag("/leggings.png", class: "over", width: "300") %>
        <% else %>
          <%= image_tag("/leggings.png", width: "300") %>
        <% end %>
        <% if @design %>
          <div id='crop-img'>
            <%= image_tag("#{@design}", class: "under", width: "300") %>
          </div>
        <% end %>
    </td>
  </tr>
  </table>
  <!--% @product.each do |key, value| %>
    <li><b>< %= key %></b> < %= value %></li>
  < % end %-->

<% if @images.length > 0 %>
  <h3>Images</h3>                                                                                                               
  <% @image = Image.new %>
  <% @image.name = @images[@design_index].image %>
  <%= render 'images_form', image: @image %>
<% end %>
<script>
window.onload = addListeners();
var x_pos = 0,
    y_pos = 0;

function addListeners() {
  document.getElementById('under').addEventListener('mousedown', mouseDown, false);
  window.addEventListener('mouseup', mouseUp, false);
}

function mouseUp() {
  window.removeEventListener('mousemove', divMove, true);
}

function mouseDown(e) {
  var div = document.getElementById('under');
  x_pos = e.clientX - div.offsetLeft;
  y_pos = e.clientY - div.offsetTop;
  window.addEventListener('mousemove', divMove, true);
}

function divMove(e) {
  var div = document.getElementById('under');
  div.style.position = 'absolute';
  div.style.top = (e.clientY - y_pos) + 'px';
  div.sty
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<script>
$(".under").draggable({});
$(".over").mousedown(function(event){
    $(".under").trigger(event);
});</script>

<h3>Upload</h3>
<div class="spinner">
<div class="sk-fading-circle">
<div class="sk-circle1 sk-circle"></div>
<div class="sk-circle2 sk-circle"></div>
<div class="sk-circle3 sk-circle"></div>
<div class="sk-circle4 sk-circle"></div>
<div class="sk-circle5 sk-circle"></div>
<div class="sk-circle6 sk-circle"></div>
<div class="sk-circle7 sk-circle"></div>
<div class="sk-circle8 sk-circle"></div>
<div class="sk-circle9 sk-circle"></div>
<div class="sk-circle10 sk-circle"></div>                                                                                 
<div class="sk-circle11 sk-circle"></div>
<div class="sk-circle12 sk-circle"></div>
</div>
</div>
<script>
function spinnerOn() {
  document.getElementsByClassName('spinner')[0].style.visibility = 'visible';                                               
}
function spinnerOff() {
  document.getElementsByClassName('spinner')[0].style.visibility = 'hidden';
}
spinnerOff();
</script>
<% @image = Image.new %>
<%= render 'form', image: @image %>

<% else %>
<br><br> There are no products, please go back and select one
<% end %>
</center>
